html, body {
  height: 97%;
  width: 98%;
  margin: 1%;
    font-family: 'Quicksand', sans-serif;
}

#rightPane {
    padding: 0;
  width: 20%;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
    margin-left: 5px;
}

#map {
    padding: 0;
    border-radius: 4px;
}

#rating {
    text-align: left;
}